<form action="/">
  <input type="text" name="user" id="user" />
  <input type="text" name="repository" id="repository" />
  <input type="text" name="url" id="url" />
  <input type="text" name="language" id="language" />
  <input type="submit" class="btn" value="Salvar">
</form>